@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif;
  /* font-weight: 700; */
}

.custom-arrow {
  position: absolute;
  top: 80%;
  transform: translateY(-80%);
  z-index: 1;
}

.slick-prev {
  left: 15px; /* Adjust based on your design */
}

.slick-next {
  right: 15px; /* Adjust based on your design */
}

.slick-dots {
  bottom: -25px; /* Adjust positioning if needed */
}

.slick-dots li {
  margin: 0 5px; /* Space between dots */
}
